@charset "utf-8";
/* Reset CSS */
html,body,h1,h2,h3,h4,h5,h6,p,ol,ul,li,form,address,fieldset,
section,aside,article,header,footer,figure,figcaption,table,tbody,thead,
th,tr,td {padding:0; margin:0; font-size:100%; font-weight:normal;}

ol {margin-left:1.4em; list-style:decimal;}

ul {margin-left:1.4em; list-style:square;}

img {border:0;}
/* Reset CSS */

/* La finalidad del reset CSS es que el punto de partida de todas 
las etiquetas sea el mismo para todos los navegadores por los formatos 
predefinidos */
body {
	color:#b1967c;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	padding-top:100px;
	background:#e1cdff url(../images/fondo_cuerpo.png) repeat-x;
	width:800px;
	margin:0px auto;
}

#contenedorPrincipal {
	/* La propiedad float ubica a la izquiera o derecha cortando el 
	flujo natural y haciendo flotar al elemento, tambien el resto de
	elementos lo rodearan siempre y cuando no ocupe el 100% del ancho */
	float:left;
	width:580px;
}

#barraLateral {
	/* Al estar flotando y tener un ancho de 580px el contenedor
	principal si damos un margen izquierdo de 600px la barra tendra una
	distancia de 20px respecto al contenido */
	margin-left:600px;
	padding:15px;
}

h1 {
	/* Aplicamos Herencia y cascada, al descender de <body> Hereda el 
	color, pero estamos sobreescribiendo el tipo de lectura y al ser
	mas especifico la Cascada toma Arial Black */
	font-size:3em;
	font-family:"Arial Black", Gadget, sans-serif;
}

h2 {
	font-size:2.2em;
	color:#600;
	margin-bottom:10px;
}

/* Por herencia tenemos las caracteristicas del h2 general y por 
cascada aplicamos estilos mas especificos con un selector descendiente */
#contenedorPrincipal h2 {
	color:#e8a064;
	border-bottom:2px solid #fff;
	background:url(../images/flor.png) no-repeat left top;
	/* Padding es la distancia entre el contenido y el contenedor, las
	propiedades van en torno al reloj, distancia por arriba, derecha, 
	abajo e izquierda*/
	padding:0px 0px 2px 80px;
}

#contenedorPrincipal p {
	color:#616161;
	/* La propiedad em es un multiplicador */
	font-size:1.1em;
	/* Line-height incrementa el espacio entre los parrafos */
	line-height:150%;
	/* Distancia entre el contenedor hacia el exterior */
	margin-bottom:10px;
	margin-left:80px;
}

/* Al usar selectores descendientes los puntos se suman */
#contenedorPrincipal .introduccion {
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.2em;
	margin-left:0px;
	margin-bottom:25px;
}