html,body,h1,h2,h3,h4,h5,h6,p,ol,ul,li,form,address,fieldset,
section,aside,article,header,footer,figure,figcaption,blockquote,
table,tbody,thead,th,tr,td {
	padding:0; 
	margin:0; 
	font-size:100%; 
	font-weight:normal;
}

table {border-collapse:collapse; border-spacing:0;}

td, th, caption {font-weight:normal; text-align:left;}

ol {margin-left:1.4em; list-style:decimal;}

ul {margin-left:1.4em; list-style:square;}

img, fieldset {border:0;}
q:before, q:after { content:''; }