body {
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}

#contenido {
	margin-left: 15px;
	margin-top: 15px;
	border: 1px dashed #999;
	border-right: none;
	border-bottom: none;
}

h1 {
	font: normal 2.4em Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	border-bottom: 1px dashed #999;
	padding: 5px 0 5px 8px;
	color: #14556b;
}

p {
	/* Estilo, tamaño, tipografia */
	font:normal 1.6em Georgia, "Times New Roman", Times, serif;
	/* Margen superior e inferior de 10px izquierdo y derecho 8px */
	margin:10px 8px;
}

/* Aplicamos formato a las imagenes dentro del contenedor */
.imagenPrincipal img {
	/* Al combinar border y padding y se puede crear un efecto de marco */
	border:1px solid #666;
	padding:10px;
}

.imagenPrincipal {
	float:right;
	/* La imagen tiene un ancho de 200px sumando los padding 10 derecho
	y 10 izquierdo mas los border izquierdo y derecho dan 222px */
	width:222px;
	/* Marcamos los margenes de separacion del contenedor para apreciar
	mejor la imagen y el pie */
	margin:15px 10px 5px 10px;
}

.imagenPrincipal p {
	font:bold 1em Verdana, Genera, sans-serif;
	color:#333;
	text-align:center;
	background-color:#3f9;
	border:1px dashed #666;
	padding:5px;
	/* Sobreescribimos los margenes haciendo uso de la cascada, de esta
	forma conseguimos que el pie ocupe el ancho exacto del contenedor */
	margin:10px 0px;
}