html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, 
variable, form, fieldset, blockquote {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: normal;
}

table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }

body {
	font-size: 62.5%;
	font-family: Arial, Helvetica, sans-serif;
	color: #002D4B;
	background: #FFC url(../img/bg_body.png) repeat-x;
}

/* Inicio Contenedor principal */
#principal {
	width: 820px;
	margin: 0 auto;
	padding: 0 10px;
	border: 4px solid #999;
	background: transparent url(../img/bg_banner.jpg) no-repeat;
}

#principal h1 {
	color: #00F;
	font-family: "Arial Black", Arial, Helvetica, sans-serif;
	font-size: 4em;
}

#principal h1 strong {
	font-size: 150px;
	color: #FF0;
	line-height: 1em;
	margin-right: -1.25em;
}


#principal h2 {
	font: bold 3.5em "Hoefler Text", Garamond, Times, serif;
	border-bottom: 1px solid #002D4B;
	margin-top: 25px;
}

#principal h3 {
	color: #00f;
	font-size: 1.9em;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 25px;
	margin-bottom: 10px;
}

#principal p {
	font-size: 1.5em;
	line-height: 150%;
	margin-bottom: 10px;
	margin-left: 150px;
	margin-right: 50px;
}

#principal p:first-line {
	font-weight: bold;
	color: #999;
}

#principal .byline {
	color: #999999;
	font-size: 1.6em;
	margin: 5px 0 25px 40px;
}

#principal .byline strong {
	color: #207EBF;
	text-transform: uppercase;
	margin-left: 11px;
}

/* Fin Contenedor principal */

/* Inicio Contenedor Recursos */
#principal #recursos {
	margin: 0 0 25px 50px;
	width: 225px;
	float: right;
	padding: 20px;
	background: #FF9;
}

#principal #recursos h3 {
	margin-top: 0;
	color: #002D4B;
}

#principal #recursos li {
	font-size: 1.5em;
	margin-bottom: 7px;
	color: #207EBF;
}

/* Fin Contenedor Recursos */

#principal #legal{
	margin-top: 15px;
	padding-top: 5px;
	border-top: 1px solid #FFF;
	margin-left: 0px;
	padding-left: 150px;
}
