/* Creamos un selector universal para dar un color negro a todas las 
etiquetas de la pagina (texto) */
* {
	/*Al usar !important; forzamos la cascada a utilizar la regla 
	especificada al haber un conflicto*/
	color:#000 !important;
}

/* Para evitar desgaste de tinta eliminamos los colores solidos que si 
son tomados en cuenta por el navegador al momento de imprimir */
html, body, #banner, #contenidoPie {
	background:#fff;
}

h1 {
	font-size:30pt !important;
}

h2 {
	font-size:16pt !important;
}

p, li {
	font-size:11pt !important;
}

/* Si deseamos que los links que se muestran en la pagina al imprimir
muestren la direccion a la que apuntan utilizamos la siguiente 
pseudo clase */
a:after {
	content:" ("attr(href)") ";
}

/* Indicamos que estos elementos seran invisibles */
#barraNavegacion #navegacionPrincipal,
#contenidoPrincipal #barraLateral,
#contenidoPie #pie #pieNavega {
	display:none;
}

/* Para garantizar que el resto de elementos ocuparan todo el ancho 
disponible usamos un selector grupal y escribimos width auto 
y eliminamos tanto los padding como los margin */
#banner, #contenidoPrincipal, #principal, #pie {
	width:auto;
	margin:0pt;
	padding:0pt;
}

/* Eliminamos el margen para que ocupe todo el ancho */
#contenidoPie #pie #piePrincipal {
	margin:0pt;
	margin-top:15px;
	padding-top:5pt;
	border-top:1pt solid #000;
	text-align:justify;
}

/* Ajustamos el alto del banner al contenido */
#banner {
	height:auto;
	text-align:center;
	/* Las unidades a utilizar para imprimir se define en puntos */
	border-top:2pt solid #000;
	border-bottom:2pt solid #000;
	padding:10pt 0pt;
	margin-bottom:15pt;
}