html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
 line-height: 1;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
 line-height: 1;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }

html {
	background-color: #6F3BA4;
}
body {
	background: url(../img/bg_about.jpg) no-repeat fixed left top;
}
#barraNavegacion {
	border-top: 1px dashed #6F3BA4;
	border-bottom: 1px dashed #6F3BA4;
	overflow: hidden;
}

#banner {
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	background: url(../img/about_title.png) no-repeat right bottom;
	height: 115px;
}
#banner #logo {
	background: #6F3BA4;
}

#contenidoPrincipal {
	width: 900px;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 40px;
}
#principal {
	float: left;
	width: 630px;
	padding-top: 30px;
	font-family: Tahoma, Geneva, sans-serif;
}
#contenidoPie {
	background: #6F3BA4;
	clear: both;
}
#principal p {
	font-size: 14px;
	line-height: 150%;
	margin-bottom: 10px;
}

#principal ol, #principal ul {
  margin-bottom: 10px;
  margin-left: 20px;
}

#principal li {
  font-size: 14px;
}

#principal h2 {
	color: #333;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 5px;
}
#principal h1 {
	color: #6F3BA4;
	font: 30px "Palatino Linotype", "Book Antiqua", Palatino, serif;
	border-bottom: 1px solid #FFF;
	margin-bottom: 20px;
}
#barraLateral {
	
	float: right;
	width: 220px;
	margin-top: 60px;
}

#barraLateral p {
	margin-bottom:10px;
	color: #512C76;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
}

#barraLateral p:first-line {
  font-weight: bold;
}
#pie {
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	padding: 20px 0;
}
#piePrincipal {
	margin-left: 200px;
}
#piePrincipal p {
	font: 12px Tahoma, Geneva, sans-serif;
	color: #FFF;
}
#navegacionPrincipal li {
	margin: 0px;
	padding: 0px;
	list-style: none;
	float: left;
}
#navegacionPrincipal {
	padding: 0 0 0 225px;
	width: 900px;
	margin: 0 auto;
}
#navegacionPrincipal a {
	display: block;
	padding: 5px 20px;
	text-decoration: none;
	color: #6F3BA4;
	font: 14px Tahoma, Geneva, sans-serif;
}

#inicio a.linkInicio,
#noticias a.linkNoticias,
#acerca  a.linkAcerca,
#foro a.linkForo {
	color: #999;	
background-image: url(../img/link_arrow.png);
	background-repeat: no-repeat;
	background-position: 10px 12px;
  padding-left: 26px;

}

#inicio #pieNavega a.linkInicio,
#noticias #pieNavega a.linkNoticias,
#acerca #pieNavega a.linkAcerca,
#foro #pieNavega a.linkForo {
	
background-image: url(../img/link_arrow_rt.png);
background-position: 5px 6px;
padding-left: 20px;

}


#navegacionPrincipal a:hover {
  background-color: #F5E281;
}

#barranavega {
 background: url(../img/screen.png);
	margin: 0 0 30px 0;
	padding: 0px;
	list-style: none;
	border-bottom: 1px dotted #FFF;
}
#barranavega a {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-decoration: none;
	padding: 5px 10px;
	display: block;
	border-top: 1px dotted #FFF;
	color: #900;
}
#barranavega a:hover {
	background-color: #F1CD1D;
}

#pieNavega ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
 border-top: 1px solid #856FA4;
}
#pieNavega a {
	font: 13px Tahoma, Geneva, sans-serif;
	color: #CDAAFF;
	text-decoration: none;
	display: block;
	padding: 3px 10px;
	border-bottom: 1px solid #856FA4;
}

#pieNavega {
	float: left;
	width: 150px;
}

#principal a {
	text-decoration: none;
	color: #6F3BA4;
	font: 14px Tahoma, Geneva, sans-serif;
  font-weight: bold;
}
#principal ul {
	padding-top: 10px;
}
