@charset "utf-8";
/* Documento CSS
	Las hojas de estilo externas son ventajosas porque cargan en cache
	una sola vez y sirven para modificar todo el sitio a la vez
 */
/*@import url("estilos.css"); De esta forma importamos una hoja de 
estilos externa hasta nuestra hoja de estilos actual*/

body {
	background-color:#999;
}

h1 {
	text-align:center;
	color:#00f;
}

p {
	font:normal 18px Tahoma, Geneva, sans-serif;
	color:#0f0;
}