/* reset styles */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }
/* end reset */

body {
	font-size: 62.5%;
}

#contenido {
	margin-left: 15px;
	margin-top: 15px;
	border: 1px dashed #999;
	border-right: none;
	border-bottom: none;
}

h1 {
	font: normal 2.4em Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	border-bottom: 1px dashed #999;
	padding: 5px 0 5px 8px;
	color: #14556b;
}

p {
	font: 1.6em/160% Georgia, "Times New Roman", Times, serif;
	margin: 10px 8px;
}

/* Selector que aplica estilo a todas las imagenes con la clase */
img.figura {
	/* La propiedad float corta el flujo natural y posiciona el
	elemento donde lo especifiquemos, ademas lo convierte en un bloque
	por eso le podemos aplicar margin y padding*/
	float:right;
	margin-left:10px;
	margin-bottom:10px;
	border:1px solid #666;
	/* Para separar el borde de la imagen usamos padding que marca 
	la distancia entre el contenido hasta el borde del contenedor */
	padding:10px;
}



